<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Lista de Contas
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Conta</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" action="/admin/contas/{$conta.IDCONTA}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="nome">Descrição</label>
              <input type="text" class="form-control" id="descricao" name="desc_conta" value="{$conta.DESC_CONTA}">
            </div>
            
            <div class="form-group">
              <label for="saldo">Saldo</label>
              <input type="text" class="form-control" id="saldo" name="saldo" value="{$conta.SALDO}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->