<footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Fale Conosco</h5>
                <ul>
                	<li><i class="material-icons">email</i> <i>suporte@slcontrol.com.br</i></li>
                	<li><i class="material-icons">phone</i> <i>(67) XXXX-XXXX</i></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 SL Control
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="res/application/js/materialize.js"></script>
  <script src="res/application/js/init.js"></script>
  <script type="text/javascript">
  	$(".dropdown-trigger").dropdown();
  </script>

  </body>
</html>