<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>JR Transportes</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="res/application/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="res/application/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" type="text/css" href="res/application/css/estilo.css">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">JR Transportes</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Contato</a></li>        
        <li><a class="dropdown-trigger btn" href="#!" data-target="dropdown1">Fazer Login<i class="material-icons right">arrow_drop_down</i></a></li>
          <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="http://www.slcontrol.com.br/admin">Administrador</a></li>
        <li class="divider"></li>
        <li><a href="http://www.slcontrol.com.br/application">Motorista</a></li>
      </ul>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Parceiros</a></li>
        <li><a href="#">Contato</a></li>        
        <li><a class="dropdown-trigger btn" href="#!" data-target="dropdown2">Fazer Login<i class="material-icons right">arrow_drop_down</i></a></li>
          <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content">
        <li><a href="http://www.slcontrol.com.br/admin">Administrador</a></li>
        <li class="divider"></li>
        <li><a href="http://www.slcontrol.com.br/application">Motorista</a></li>
      </ul>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

